
<div class="main-panel">
          <div class="content-wrapper">
            <!--<div class="page-header">
              <h3 class="page-title"> BASIC TABLES </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>-->
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Customer Table</h4>
                    <p class="card-description"> Add class <code>.table</code>
                    </p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Email ID</th>
                          <th>Password</th>
                          
                        </tr>
                      </thead>
                      <tbody>{% for show in data %}
                        <tr>
                         <td>{{show.email}}</td>
                         <td>{{show.password}}</td>
        
      
        
        
        
      
       
        
        
                          <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                    
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             
       
             
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
       
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    

