{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Ample Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
    <!-- Custom CSS -->
    <link href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/dist/css/style.css"
        rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <header class="py-3 bg-white">
            <div class="container">
                <!-- Start Header -->
                <div class="header">
                    <nav class="navbar navbar-expand-md navbar-light px-0">
                        <a class="navbar-brand" href="#">
                            <img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/ample-logo--lp-dark.png"
                                alt="logo">
                            <span>
                                <img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/ample-logo-text-lp-dark.png"
                                    alt="logo">
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item pr-3">
                                    <a href="https://wrappixel.com/templates/ample-admin-lite/"
                                        class="btn btn-custom btn-outline-info btn-lg" target="_blank">Free Download</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.wrappixel.com/templates/ampleadmin/?ref=33"
                                        class="btn btn-custom btn-info btn-lg" target="_blank">Check Pro Version</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- End Header -->
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper part -->
        <!-- ============================================================== -->
        <div class="content-wrapper">
            <!-- ============================================================== -->
            <!-- Demos part -->
            <!-- ============================================================== -->
            <section class="spacer bg-light">
                <div class="container">
                    <div class="row justify-content-md-center pt-5">
                        <div class="col-md-9 text-center">
                            <h2 class="text-dark">Create Userfriendly Interface for your <span
                                    class="fw-bold">Applications</span> & <span
                                    class="fw-bold">Products</span> with <span
                                    class="border-bottom border-dark"> Ample Admin</span></h2>
                        </div>
                    </div>
                    <div class="row py-5">
                        <!-- ============================================================== -->
                        <!-- Lite Demo -->
                        <!-- ============================================================== -->
                        <div class="col-md-6">
                            <div class="card p-2 me-1">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h2 class="text-dark font-weight-medium">Lite Version</h2>
                                        <h4 class="text-success">Free Forever</h4>
                                    </div>
                                    <div class="live-box text-center mt-4">
                                        <img class="img-fluid"
                                            src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/screenshots/ample-lite-lp-img.jpg"
                                            alt="Lite version">
                                        <div class="overlay">
                                            <a class="btn btn-danger live-btn"
                                                href="https://wrappixel.com/demos/admin-templates/ampleadmin/ample-admin-lite/dashboard.html"
                                                target="_blank">Live Preview</a>
                                        </div>
                                    </div>
                                    <p class="text-muted mt-5 line-h33 font-16">Ample Admin Lite is basic yet very
                                        useful bootstrap 5 dashbaord template for your projects.If you are looking for
                                        modern yet clean admin template for your backend project. Ample Admin is the
                                        right choice for you. If your application requires more options. We like to
                                        suggest you the pro version.</p>
                                    <div class="row text-muted  mt-4">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">1 Basic Dashboard</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">7+ Pages Template</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">10+ UI Components</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Bootstrap 5 Version</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Font Awesome Icons</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Fully Responsive Pages</li>
                                                <li class="text-dark"><img
                                                        src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg"
                                                        class="img-fluid mr-2">No Support Provided</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">SCSS Base CSS</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Easy To Customize</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Basic Table Examples</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Profile Page Included</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/light-circle.jpg"
                                                        class="img-fluid mr-2">Google Map</li>
                                                <li class="text-dark "><img
                                                        src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg"
                                                        class="img-fluid mr-2">No Documentation</li>
                                                <li class="text-dark"><img
                                                        src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/dark-circle.jpg"
                                                        class="img-fluid mr-2">Backlink Required</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4 mb-3">
                                        <a href="https://wrappixel.com/templates/ample-admin-lite/"
                                            class="btn btn-custom btn-outline-info btn-lg" target="_blank">Free
                                            Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- Pro Demo -->
                        <!-- ============================================================== -->
                        <div class="col-md-6">
                            <div class="card pro-demo p-2 ms-1">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h2 class="text-info font-weight-medium">Pro Version</h2>
                                        <h4 class="text-dark">$39 Only</h4>
                                    </div>
                                    <div class="live-box text-center mt-4">
                                        <img class="img-fluid"
                                            src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/screenshots/ample-pro-lp-img.jpg"
                                            alt="Pro version">
                                        <div class="overlay">
                                            <a class="btn btn-danger live-btn" href="https://wrappixel.com/ampleadmin/"
                                                target="_blank">Live Preview</a>
                                        </div>
                                    </div>
                                    <div class="row text-dark mt-5">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">3+ Stunning Dashboards</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">600+ Page Templates</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">500+ UI Components</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">100+ Integrated Plugins</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Front-end Landing Page</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">6 Months Premium Support</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Right-to-Left(RTL) Verion</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Unlimited Colors</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">3000+ Font Icons</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Lots of Chart Options</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Bootstrap 5 Version</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Fully Responsive Pages</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled listing">
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">7+ Unique Demos</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">3+ Ready to Use App</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Light and Dark Sidebar</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Dashboard PSD Files</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Documentation Provided</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Lots of Widgets</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Tons of Table Example</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Variety of Forms Included</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">SCSS Base CSS</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">Easy to Customize</li>
                                                <li><img src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/font-icons/blue-circle.jpg"
                                                        class="img-fluid mr-2">& lots more..</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4 mb-3">
                                        <a href="https://www.wrappixel.com/templates/ampleadmin/?ref=33"
                                            class="btn btn-custom btn-info btn-lg" target="_blank">Buy Pro Version</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- ============================================================== -->
        <!-- End page wrapperHeader part -->
        <!-- ============================================================== -->
        <footer class="text-center p-4"> All Rights Reserved by Ample Admin. Designed and Developed by <a
                href="https://wrappixel.com">WrapPixel.com</a></footer>
    </div>
</body>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>