{% extends "master.html" %}
{%block maincontent%}
    <div class="main-panel">
        <h3 class="box box-solid box-default">Admin Register Table</h3> 
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">          
                 <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email ID</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for show in data %}
                            <tr>
                                <td>{{show.email}}</td>
                                <td>{{show.password}}</td>
                            </tr>
                            {% endfor %} 
                        </tbody>   
                </table>
                        </div>
                    </div>
                </div>    
            </div>  
        </div>
    </div> 

       
{% endblock %}
