<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2> Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form action="saveUser" method="post">
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="First Name" />
                </div>
              </div>
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Email" required />
              </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="userid" name="userid" placeholder="Userid" required />
              </div> 
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="userpassword" name="userpassword" placeholder="Password" required />
              </div>

              
            <input class="button" type="register" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </div>
  